@charset "ISO-8859-1";

.main-content {
    background-color: green;
    border: 3px solid yellow;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
}

table, th, td {
	border: 1px solid black;
}

a {
	color: #7FFFD4;
}

.bg {
	/* The image used */
	background-image: url(img/capelli-background.jpg);
	width: 100%;
	height: auto;
	color: #dc05f1;
}